__pycache__/
.pytest_cache/
*venv*/
*.hf_cache/
*.swp
/temp
/moondream-2b-2025-04-14-4bit
/VLM_image
/audio
/images
/YOLO
tests/en_US-lessac-high.onnx.json
tests/en_US-lessac-high.onnx
/streamed_audio
/received_audio
/web_image
/nav_captures
yolo_log.csv
